@page
@model GMC.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1>Admin</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

